/* common styles */

* {
    padding: 0;
    margin: 0;
}

body {
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d4d4e;
    font-family: sans-serif;
}


/* common styles end */


/* calculator */

.calculator {
    width: 300px;
    padding-bottom: 15px;
    border-radius: 7px;
    background-color: #000;
    box-shadow: 5px 6px 6px -2px rgba(0, 0, 0, 0.61);
}


/* calculator style end */


/* display */

.display {
    width: 100%;
    height: 80px;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 2rem;
    background-color: #00a2ff;
    color: black;
    text-align: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* display style end */


/* row */

.row {
    display: flex;
    justify-content: space-between;
}


/* row style end */


/* button */

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: #222;
    color: #fff;
    margin: 10px;
}

button:hover {
    background-color: rgb(145, 79, 14);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}


/* button style end */


/* operator */

.operator {
    background-color: #00c3ff;
    color: #000;
}


/* operator style end */